#text {
  padding: 10px;
}

body {
    background-color: rgb(40, 177, 223);
  }

  .rectangle {
    height: 60px;
    width: 20px;
    background-color: black;
  }

  img {
    width: 100px;
    height: 100px;
    position:absolute;
    z-index: 1;
    shape-outside: url(https://i.imgur.com/lEuOmXn.png);
  }

  .thief{
    width: 265px;
    height: 200px;
    position:absolute;
    z-index: 1;
    shape-outside: url(https://i.imgur.com/lEuOmXn.png);
  }

  .circle2{
    padding: 10px;
    height:2px;
    width: 2px;
    background-color: white;
    border-radius: 50%;
    display:inline-block;
    position:absolute;
    z-index: 1;
  }

  .circle {
    padding: 20px;
    height:15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display:inline-block;
    position:absolute;
    z-index: 1;
  }

  .trapezoid {
    border-bottom: 30px solid #ddc77a;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 72px;
    position: absolute;
    display: inline-block;
  }

.hex {
    width: 208px;
    height: 120px;
    background-color: rgba(180, 100, 35, 1);
    border-color: rgba(180, 100, 35, 1);
    position: absolute;
    display: inline-block;
}
.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 60px solid;
    border-color: inherit;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
    position: absolute;
    top: -60px;
}
.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -60px;
    border-top: 60px solid;
    border-color: inherit;
    border-left: 104px solid transparent;
    border-right: 104px solid transparent;
}
/*STYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLSSTYLE FOR CONTROLS*/

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0%;
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

