<!DOCTYPE html>
<html>
<head>
<title>PLAY CATAN AGAINST CARLOS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .button {
    user-select:none;
    display: inline-block;
    padding: 25px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: bisque;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #E4C69A}
  
  .button:active {
    background-color: #E4C69A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
     <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
     <a href="/secret" class="w3-bar-item w3-button w3-padding-large w3-theme-d4">PLAY</a>
     <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Logout">LOG OUT</a>
     </a>
    </div>
   </div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 id="player-name" class="w3-center">PLAYER_NAME</h4>
         <hr>
         <p id="player-wins"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Number of wins: nr</p>
         <hr>
         <p id="player-games"><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Number of games: nr</p>
         <hr>
         <p id="player-vps"><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>Number of VPs: nr</p>
         <hr>
        </div>
      </div>
      <br>
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <div class="w3-container">
            <button style="width: 100%;height: 10%;color: black;" class="button" id="useDevelopButton" onclick="location.href='/main';">PLAY</button>
         </form>
        </div>
        <hr class="w3-clear">
        <h4>PLAY CATAN AGAINST CARLOS THE A.I.</h4><br>
        <p>Catan, also known as Settlers of Catan, is a popular board game designed by Klaus Teuber. It is set on a fictional island called Catan and involves players competing to build and develop their settlements while acquiring victory points.

          The game begins with the island of Catan being set up with different types of terrain hexes, representing fields, forests, hills, mountains, pastures, and a desert. Each hex produces a specific resource (such as grain, lumber, brick, ore, or wool) whenever the corresponding number is rolled on two six-sided dice.
          
          Players take turns rolling the dice and collecting resources based on the activated hexes. With these resources, they can build roads, settlements, and cities on the intersections and edges of the hexes. Roads allow players to expand their reach and connect their settlements, while settlements and cities contribute to their victory points.
          
          Trading and negotiation play a crucial role in Catan. Players can trade resources with each other, offer deals, and negotiate for favorable trades. Additionally, players can use their resources to buy development cards, which can provide various advantages or victory points.
          
          The game also introduces an element of uncertainty through the robber. When a seven is rolled, the robber is moved to a new hex, blocking its resource production, and players with more than seven cards in hand must discard half of their cards. The player who moves the robber can also steal a resource card from another player's settlement adjacent to the robber's new location.
          
          Victory points are earned by building settlements and cities, acquiring certain development cards, having the longest road, or having the largest army (by playing knight cards). The first player to reach a predetermined number of victory points, typically 10, is declared the winner.
          
          Catan is loved for its blend of strategy, resource management, negotiation, and a touch of luck. The modular board setup ensures that each game is unique, and the dynamic interactions among players create a lively and engaging experience. It has become a classic and remains a popular choice among board game enthusiasts worldwide.</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="https://i.imgur.com/UxRUuko.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="https://i.imgur.com/r7kUDgs.png" style="width:100%" alt="Nature" class="w3-margin-bottom">
          </div>
        </div>
      </div>
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>LEADERBOARDS</p>
          <hr>
          <div id="container">
            <div class="row">
                <div id="1_player" class="name">Player1</div><div id="1_player_score" class="score">0</div>
            </div>
            <hr>
            <div class="row">
                <div id="2_player" class="name">Player2</div><div id="2_player_score" class="score">Unknown</div>
            </div>
            <hr>
            <div class="row">
                <div id="3_player" class="name">Player3</div><div id="3_player_score" class="score">Unknown</div>
            </div>
            <hr>
            <div class="row">
                <div id="4_player" class="name">Player4</div><div id="4_player_score" class="score">Unknown</div>
            </div>
            <hr>
            <div class="row">
                <div id="5_player" class="name">Player5</div><div id="5_player_score" class="score">Unknown</div>
            </div>
            <hr>
            <div class="row">
                <div id="6_player" class="name">Player6</div><div id="6_player_score" class="score">Unknown</div>
            </div>
            <hr>
            <div class="row">
                <div id="7_player" class="name">Player7</div><div id="7_player_score" class="score">Unknown</div>
            </div>
            <hr>
            <div class="row">
                <div id="8_player" class="name">Player8</div><div id="8_player_score" class="score">Unknown</div>
            </div>
            <hr>
            <div class="row">
                <div id="9_player" class="name">Player9</div><div id="9_player_score" class="score">Unknown</div>
            </div>
            <hr>
            <div class="row">
                <div id="10_player" class="name">Player10</div><div id="10_player_score" class="score">Unknown</div>
            </div>
            <hr>
        </div>
        </div>
      </div>
      <br>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>CATAN® has guidelines that make this product fall under derivative works and fair use.</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Made by Matei Sirghe and Mihai Boanta</p>
</footer>
<script>
  const user_regex = /user=([^;]*)(;|$)/;
  let userdata = JSON.parse(decodeURIComponent(document.cookie.match(user_regex)[1]));
  document.getElementById("player-name").textContent = userdata.username;
  document.getElementById("player-games").textContent ="Number of games: "+ userdata.games;
  document.getElementById("player-wins").textContent ="Number of wins: "+ userdata.wins;
  document.getElementById("player-vps").textContent ="Number of VPs: "+ userdata.vps;

  console.log(document.cookie);
  const toppers_regex = /toppers=([^;]*)(;|$)/;
  let leaders = JSON.parse(decodeURIComponent(document.cookie.match(toppers_regex)[1]));
  for(var i=1;i<=leaders.length;i++)
  {
      document.getElementById(i+"_player").textContent=leaders[i-1].username;
      document.getElementById(i+"_player_score").textContent=leaders[i-1].wins;
  }
</script>

</body>
</html> 
